.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 70s linear;
  height: 180px;
  border-radius: 15px;
  border: 2px solid black;
}

.App-header {
  background-color: #1dc8cd;
  height: 280px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#topicHelp {
  font-weight: bold;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.myTextInput {
  color: #777;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
