.searchBtn {
  background-color: #1dc8cd;
  font-weight: bolder;
}

.mytitle {
  color: #1dc8cd;
  /* font-weight: bold; */
}
.scrollable {
  overflow-y: auto;
  max-height: 5%;
  color: rgb(5, 84, 121);
}